<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* One Pica
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to codemaster@onepica.com so we can send you a copy immediately.
*
* @category OnePica
* @package OnePica_ArqballSpin
* @copyright Copyright (c) 2012 One Pica, Inc. (http://www.onepica.com)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/
/**
* One Pica Arqball Spin
*
* @category OnePica
* @package OnePica_ArqballSpin
* @author One Pica Codemaster codemaster@onepica.com
*/
 -->
<config>
    <modules>
        <OnePica_ArqballSpin>
            <version>1.0.0</version>
        </OnePica_ArqballSpin>
    </modules>
	
    <global>
        <models>
            <arqballspin>
                <class>OnePica_ArqballSpin_Model</class>
            </arqballspin>
			<catalog>
				<rewrite>
					<product>OnePica_ArqballSpin_Model_Product</product>
				</rewrite>
			</catalog>
        </models>
		
		<helpers>
			<onepica_arqballspin>
				<class>OnePica_ArqballSpin_Helper</class>
			</onepica_arqballspin>
		</helpers>
		
		<blocks>
			<arqballspin>
				<class>OnePica_ArqballSpin_Block</class>
			</arqballspin>
			
			<catalog>
				<rewrite>
					<product_view_media>OnePica_ArqballSpin_Block_Product_View_Media</product_view_media>
				</rewrite>
				<rewrite>
					<product_gallery>OnePica_ArqballSpin_Block_Product_Gallery</product_gallery>
				</rewrite>
			</catalog>
			
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>OnePica_ArqballSpin_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
		
		<events>
			<catalog_product_save_before>
				<observers>
					<arqballspin>
						<type>singleton</type>
						<class>arqballspin/observer</class>
						<method>catalog_product_save_before</method>
					</arqballspin>
				</observers>
			</catalog_product_save_before>
		</events>
		
		<resources>
			<arqballspin_records_setup>
				<setup>
					<module>OnePica_ArqballSpin</module>
					<class>OnePica_ArqballSpin_Resource_Eav_Mysql4_Setup</class>
				</setup>

				<connection>
					<use>core_setup</use>
				</connection>
			</arqballspin_records_setup>

			<arqballspin_records_write>
				<connection>
					<use>core_write</use>
				</connection>
			</arqballspin_records_write>

			<arqballspin_records_read>
				<connection>
					<use>core_read</use>
				</connection>
			</arqballspin_records_read>
		</resources>
    </global>
	
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
                        <arqballspin before="Mage_Adminhtml">OnePica_ArqballSpin_Adminhtml</arqballspin>
                    </modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <arqballspin translate="title">
                                            <title>Arqball Spin ACL</title>
                                            <sort_order>100</sort_order>
                                        </arqballspin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		
		<layout>
			<updates>
				<arqballspin>
					<file>arqballspin.xml</file>
				</arqballspin>
			</updates>
		</layout>
	</adminhtml>
	
	<frontend>
		<layout>
			<updates>
				<arqballspin>
					<file>arqballspin.xml</file>
				</arqballspin>
			</updates>
		</layout>
	</frontend>
	
	<default>
		<arqballspin>
			<arqballspin_general>
				<username></username>
				<autoload>1</autoload>
				<autorotate>1</autorotate>
				<autostop>1</autostop>
				<embed_type>iframe</embed_type>
				<display_type>gallery</display_type>
				<gallery_position>first</gallery_position>
				<thumbnail_url>http://s3.amazonaws.com/spins.arqspin.com</thumbnail_url>
			</arqballspin_general>
		</arqballspin>
	</default>
</config>
